# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

#* Semi
ios/
android/
python/
builds/
crashes/
assets/svgs
assets/images/screenshots
assets/images/bodies/PixelPlanetsSmooth
assets/fonts/Trickster/svg
**/uncompressed
**/*.txt
**/*.html
**/*.kra
**/*.exe
**/*.csv
**/*.gd
**/*.sfd
**/*.sh
assets/images/finger-original.png

assets/images/prompts/*
!assets/images/prompts/location-shear.png
!assets/images/prompts/notifications-shear.png
